:root{
    --var: #38bdf826;
}
.skill img{
    filter: brightness(0) invert(1);
}

.web{
    display: flex;
    flex-direction: column;
}

.skills{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 8px;
    margin-top: 2rem;
}

.skill{
    padding: 1rem 1.25rem;
    background: #ffffff14;
    border-radius: 16px;
    cursor: pointer;
    border: 1px solid #f1f1f150;
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    transition: all .3s ease;
    gap: 8px;
}

.skill:hover{
    border-color: #18ce;
    background: var(--var);

}

.skill span{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;

}